.card {
  display: flex;
  flex-direction: column;
  max-width: $card-width;
  padding: 30px 14px 15px;
  border: 1px solid $card-border;
  border-radius: 5px;
  margin-bottom: 50px;
  
  &__img {
    width: 160px;
    height: 134px;
    transition: transform 1s;
    align-self: center;
    box-sizing: content-box;
    padding: 12px 0;
    margin: -12px 0;
    outline: 3px solid transparent;

    &:hover {
      transform: scale(1.2);
      outline-color: $card-border;
    }
  }

  &__title {
    margin: 45px auto 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  &__code {
    margin-bottom: 15px;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__comments {
    height: 14px;
  }

  &__btn-purchase {
    text-decoration: none;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: $link-color;
    border-radius: 5px;
    border: 1px solid $link-color;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: color 1s, background-color 1s;
  }
  
  &__btn-purchase:hover {
    background-color: #fff;
    color: $link-color;
  }

  &__stars {
    display: flex;

    @for $i from 1 through 5 {
      &--#{$i} .card__star:nth-child(-n + #{$i}) {
        background-image: url(../images/star-active.svg);
      }
    }
  }

  &__star {
    background-image: url(../images/star.svg);
    height: 15px;
    width: 15px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 4px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 20px 0;
  }
  
  &__value {
    margin: 0;
    font-size: 16px;
    font-weight: 900;
    line-height: 19px;
  }
}
